<div class="container" style="text-align:center;">

<h2 style="color:green;">認証メールが届いていない場合</h2>

<p>お手数ですが、もう一度メールアドレスを入力して、送信ボタンをクリックしてください。</p>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :placeholder => "メールアドレスを入力" %>
  </div>

    <%= f.submit "送信", :class => "actions center-block" %>
<% end %>

<%= render "devise/shared/links" %>
