

  <!--<h4 style="text-align:center;">見たいマイページのジャンルを選択してください</h4>

  <!-- topコントローラーで各リンクを定義 -->


  <!--<ul style="list-style:none;text-align:center;">
    <li><a href="/mypage/<%= current_user.id %>/studies"><button type="button" class="btn btn-warning btn-lg select-button" style="margin-top:20px;">勉強相談</button></a></li>
    <li><a href="/mypage/<%= current_user.id %>/courses/"><button type="button" class="btn btn-success btn-lg select-button" style="margin-top:20px;">進路相談</button></a></li>
    <li><a href="#"><button type="button" class="btn btn-info btn-lg select-button" style="margin-top:20px;">性相談</button></a></li>
  </ul>
-->


  <div style="position: relative;">


  <h2 style="text-align:center;" class="mypage-sentence"><strong>見たいマイページのジャンルを選択してください</strong></h2>

  <ul style="list-style:none;text-align:center;">
    <li><a href="/mypage/<%= current_user.id %>/studies"><button type="button" class="btn btn-success btn-lg select-study-button" style="margin-top:20px;">勉強相談</button></a></li>
    <li><a href="/mypage/<%= current_user.id %>/courses/"><button type="button" class="btn btn-success btn-lg select-course-button" style="margin-top:20px;">進路相談</button></a></li>
    <li><a href="/mypage/<%= current_user.id %>/genders/"><button type="button" class="btn btn-success btn-lg select-sex-button" style="margin-top:20px;">恋愛・性相談</button></a></li>
  </ul>

  </div>

