
  <div style="position: relative;">

  <h2 style="text-align:center;margin-right:10px;margin-left:10px;color:#D9534F;"><strong>見たいマイページのジャンルを選択してください。</strong></h2>

<!--
  <h2 style="text-align:center;" class="mypage-sentence"><strong>どのマイページを見ますか？</strong></h2>
  -->

  <h3 style="text-align:center;"><a href="/mypage/<%= current_user.id %>/studies" style="color:green;"><u>勉強相談</u></a></h3>

  <h3 style="text-align:center;"><a href="/mypage/<%= current_user.id %>/courses" style="color:green;"><u>進路相談</u></a></h3>

  <h3 style="text-align:center;"><a href="/mypage/<%= current_user.id %>/genders" style="color:green;"><u>恋愛・性相談</u></a></h3>


<!--
  <ul style="list-style:none;text-align:center;">
    <li><a href="/mypage/<%= current_user.id %>/studies"><button type="button" class="btn btn-success btn-lg select-study-button" style="margin-top:20px;">勉強相談</button></a></li>
    <li><a href="/mypage/<%= current_user.id %>/courses/"><button type="button" class="btn btn-success btn-lg select-course-button" style="margin-top:20px;">進路相談</button></a></li>
    <li><a href="/mypage/<%= current_user.id %>/genders/"><button type="button" class="btn btn-success btn-lg select-sex-button" style="margin-top:20px;">恋愛・性相談</button></a></li>
  </ul>
  -->

  </div>

