<div class="study-post">
  <h2 style="text-align:center;color:green;"><%= @nickname %>さんの進路相談一覧</h2>
  <% @courses.each do |course| %>
    <div class="note-study clearfix">
     <h4><strong><%= course.title %></strong>️</h4>
     <p><%= simple_format(course.content) %></p>
    <% if user_signed_in? && current_user.id == course.user_id %>
      <button type="button" class="btn btn-success btn-xs pull-right" style="margin-top:10px;"><%= link_to "削除", "/courses/#{course.id}", method: :delete, :style => "color:white;text-decoration: none;" %></button>
      <button type="button" class="btn btn-success btn-xs pull-right" style="margin-top:10px;margin-right:10px;"><%= link_to "編集", "/courses/#{course.id}/edit", method: :get, :style => "color:white;text-decoration: none;" %></button>
    <% end %>

   </div>
  <% end %>
  <%= paginate(@courses) %>
</div>