
<h2 style="color:green;text-align:center;">勉強相談</h2>

<%= image_tag("myself.png", :style => "width:100px;height:100px;margin:0 auto;") %>
<div style="text-align:center;color:green;padding-right:10px;padding-left:10px;">
<p>回答者：安元一耀</p>
<p>所属：早稲田大学商学部３年</p>
<p>数学・英語に関する相談に回答します！数学は高校の定期テストで学年１位を取ったこともあり、得意科目です。<br>大学１年生の時に、塾のアルバイトで数学と英語を担当していました。</p>
  </div>


<div class="study-post">
  <% @studies.each do |study| %>
    <div class="note-study clearfix">
      <h4 style="font-size:18px;"><strong><%= study.title %></strong>️</h4>
    <p><%= simple_format(study.content, :style => "font-size:16px;") %></p>
    <div class="study-poster">
    <strong>
      投稿者：<%= study.user.nickname %> /
      <% if study.user.gender == 1 %>
      男 /
      <% elsif study.user.gender == 2 %>
      女 /
      <% end %>
      <% if study.user.grade == 1 %>
      中１
      <% elsif study.user.grade == 2 %>
      中２
      <% elsif study.user.grade == 3 %>
      中３
      <% elsif study.user.grade == 4 %>
      高１
      <% elsif study.user.grade == 5 %>
      高２
      <% elsif study.user.grade == 6 %>
      高３
      <% elsif study.user.grade == 7 %>
      浪人
      <% end %>
    </strong>
    </div>

    <%= link_to "詳細", "/studies/#{study.id}", method: :get, :class => "btn btn-success btn-xs pull-right", :style => "margin-top:10px;color:white;" %>

    <% if user_signed_in? && current_user.id == study.user_id %>
    <%= link_to "編集", "/studies/#{study.id}/edit", method: :get, :class => "btn btn-success btn-xs", :style => "margin-top:10px;color:white;margin-right:10px;" %>
    <%= link_to "削除", "/studies/#{study.id}", method: :delete, :class => "btn btn-success btn-xs", :style => "margin-top:10px;color:white;margin-right:10px;" %>
     <!-- <button type="button" class="btn btn-warning btn-xs pull-right" style="margin-top:10px;margin-right:10px;"><%= link_to "削除", "/studies/#{study.id}", method: :delete, :style => "color:white;" %></button>
      <button type="button" class="btn btn-warning btn-xs pull-right" style="margin-top:10px;margin-right:10px;"><%= link_to "編集", "/studies/#{study.id}/edit", method: :get, :style => "color:white;" %></button>-->
    <% end %>
  </div>
  <% end %>
  <div style="text-align:center;">
  <%= paginate(@studies) %>
  </div>
</div>