<div class="study-post">
    <div class="note-study clearfix">
      <h4 style="font-size:18px;"><strong><%= @study.title %>️</strong>️</h4>
      <p><%= simple_format(@study.content) %></p>
    <div class="study-poster">
      <strong>
      投稿者：<%= @study.user.nickname %> /
      <% if @study.user.gender == 1%>
      男 /
      <% else %>
      女 /
      <% end %>
      <% if @study.user.grade == 1 %>
      中１
      <% elsif @study.user.grade == 2 %>
      中２
      <% elsif @study.user.grade == 3 %>
      中３
      <% elsif @study.user.grade == 4 %>
      高１
      <% elsif @study.user.grade == 5 %>
      高２
      <% elsif @study.user.grade == 6 %>
      高３
      <% elsif @study.user.grade == 7 %>
      浪人
      <% end %>
      </strong>
    </div>
    <% if user_signed_in? && current_user.id == @study.user_id %>

      <%= link_to "削除", "/studies/#{@study.id}", method: :delete, :class => "btn btn-success pull-right btn-xs", :style => "margin-top:10px;color:white;margin-right:10px;" %>
      <%= link_to "編集", "/studies/#{@study.id}/edit", method: :get, :class => "btn btn-success pull-right btn-xs", :style => "margin-top:10px;color:white;margin-right:10px;" %>
    <% end %>
  </div>
  <!-- ここからコメントフォーム-->
  <div class="commnets">
  <div style="text-align:center;">
   <% if current_user %>
      <%= form_tag("/studies/#{@study.id}/comments", method: :post) do %>
        <textarea cols="30" name="text" placeholder="この相談に対する意見・コメントを記入しよう！" rows="8" class="comments-table" style="max-width:720px;"></textarea><br />
        <input type="submit" class="study-submit-comments" style="margin-top:10px;" value="コメントを投稿する">
      <% end %>
   <% end %>
 </div>

<div class="comment-index">
<h3 style="color:green;text-align:center;">【相談の回答】</h3>
      <% if @comments %>
        <% @comments.each do |comment| %>
        <p style="margin-top:20px;font-size:16px;"><strong>
         <% if comment.user.email == "administrator@gmail.com" %>
         <span style="color:#c10200;">●運営者</span> /
         <% end %>
          ●<%= comment.user.nickname %> / 
      <% if comment.user.gender == 1 %>
      男 /
      <% elsif comment.user.gender == 2 %>
      女 /
      <% end %>

      <% if comment.user.grade == 1 %>
      中１
      <% elsif comment.user.grade == 2 %>
      中２
      <% elsif comment.user.grade == 3 && comment.user.email == "administrator@gmail.com" %>
      早稲田大学
      <% elsif comment.user.grade == 3 %>
      中３
      <% elsif comment.user.grade == 4 %>
      高１
      <% elsif comment.user.grade == 5 %>
      高２
      <% elsif comment.user.grade == 6 %>
      高３
      <% elsif comment.user.grade == 7 %>
      浪人
      <% end %>
      </strong></p>
          <p><%= simple_format(comment.text, :style => "font-size:16px;") %></p>
        <% end %>
      <% end %>
  </div>
 </div>
</div>