<!DOCTYPE html>
<html>
<head>
  <title>Soudanswer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<div id="wrap">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
    <!-- style="margin-top:15px; -->
      <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a href="http://localhost:3000/" class="navbar-brand" >Sample</a>-->
      <!-- 画像を縮小する”というサイトで、140pxで切り取る。-->
      <a href="https://soudanswer.herokuapp.com/" class="navbar-brand"><%= image_tag("s_ロゴ.png") %></a>
    </div>

    <div class="collapse navbar-collapse target">
    <!-- style="margin-top:34px;font-size:20px;" -->
    <ul class="nav navbar-nav navbar-right">
    <!-- <button type="button" class="btn btn-warning btn-lg navbar-button"><i class="glyphicon glyphicon-cloud"></i> -->
    <li><a href="/studies" style="color:green;font-size:20px;">勉強相談</a></li>
    <li><a href="/courses" style="color:green;font-size:20px;">進路相談</a></li>
    <li><a href="/genders" style="color:green;font-size:20px;">恋愛・性相談</a></li>
    <% if user_signed_in? %>
      <li><%= link_to "相談する", "/select", method: :get, :style => "color:#D9534F;font-size:20px;" %></li>
      <li><%= link_to "マイページ", "/users/#{current_user.id}", method: :get, :style => "color:#D9534F;font-size:20px;" %></li>
      <% else %>
      <li><a href="/users/sign_up" style="color:#D9534F;font-size:20px;">新規登録</a></li>
      <li><a href="/users/sign_in" style="color:#D9534F;font-size:20px;">ログイン</a></li>
      <% end %>
    </ul>

  </div>
  </nav>

<div id="contents">
<%= yield %>
  </div>

<footer class="footer">
  <div class="container">
    <h4 class="footer-heading">Soudanswerとは？</h4>
    <p class="footer-sentence" style="text-decoration:underline; color:#fff100;"><strong><span style="color:green;">Soudanswerとは、東大・早慶の現役大学生や全国の同級生に、勉強・進路・恋愛/性の相談ができるサービスです。</span></strong></p>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style => "color:green;font-weight:bold;font-size:18px;" %>
    <% end %>
  </div>
</footer>
  </div>
</body>
</html>
